.MuiTooltip-tooltip {
  background-color: #a777e6 !important;
  font-size: 15px !important;
  color: black !important;
  font-weight: 600 !important;
  .MuiTooltip-arrow {
    color: #a777e6 !important;
  }
}